/* Body Style Section */
html {
    width: 100vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

/* New Car Styles Section */
.new-cars {
    border-radius: 5px;
    box-shadow: 5px 35px 68px 0px rgba(49, 121, 218, 0.5), inset -8px -8px 16px 0px rgba(49, 121, 218, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    padding: 10px;
}