/* CUSTOM PROPERTIES */
:root {
  --ff-body: "Noto Sans JP",
    sans-serif;

  --ff-title: "Yesteryear", cursive;

  --ff-accent: "Merienda",
    cursive;

    /* 
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
    */
}

/* RESET */
/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
  margin: 0;
}

/* remove animations for people who turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* easier images */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Body Set */
body {
  /* 
  font-size: var(--fs-400);
  color: hsl(var(--color-light));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  line-height: 1.5;
  min-height: 100vh; */
  font: var(--ff-body);
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: beige;
  background-color: #0f0f0f;
}

h1 {
  font-family: var(--ff-title);
  font-size: 3em;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

/* form elements */
input,
button,
textarea,
select {
  font: inherit;
}

/*  STYLE  */
/* Hero */
.hero-section {
  height: 100vh;
  background-color: rgb(13, 24, 24);
  overflow: hidden;
}

.locations {
  height: 75vh;
  background-color: #0f0f0f;
}

