* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
  max-width: 950px;
  margin: auto;
}

.flex {
  display: flex;
  gap: 2.99rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.hero-section, .popular {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  min-width: 450px;
  max-width: 950px;
  margin: auto;
  gap: 2.6rem;
  padding: 2rem;
}

@media (max-width: 540px) {
  .hero-section {
    display: flex;
    flex-direction: column;
  }
}
.left-side, .right-side {
  min-width: 450px;
}

.hero-title, .popular-title, .reviews-title, .all-cars-title {
  font-family: "Carter One";
  font-size: 2.5em;
  border-bottom: 1px solid white;
  padding-bottom: 1.3rem;
  margin-bottom: 1.3rem;
  width: 14ch;
}

.hero-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.3rem auto;
  gap: 1.3rem;
}

.catalog-btn, .money-btn {
  width: 6.5rem;
  padding: 0.4333333333rem;
}

.catalog-btn {
  background-color: white;
  color: black;
  border: 0;
  border-radius: 1.3rem 0 1.3rem 0;
  height: 2.6rem;
  font-size: 1.04rem;
  font-family: "Cutive Mono", monospace;
}

.catalog-btn:hover {
  border: 1px solid white;
  cursor: pointer;
}

.money-btn {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 1.3rem 0 1.3rem 0;
  text-align: center;
  padding: 0.65rem;
}

.left-side p, .hero-btns {
  font-family: "Cutive Mono", monospace;
}

.popular-cars {
  gap: 1rem;
}

article > img {
  width: 300px;
  height: 190px;
}

.popular-cars > article {
  width: 500px;
  height: 200px;
  background-color: white;
  border-radius: 1.3rem 0 1.3rem 0;
}

.popular-card {
  display: flex;
}

.popular-car-image {
  width: 13rem;
  background-color: darkgray;
  border-radius: 1.3rem 0 0 0;
}

.popular-car-info {
  color: black;
  width: 55%;
  font-family: "Cutive Mono", monospace;
}

.popular-link {
  color: black;
  background-color: lightgrey;
  border-radius: 0 0 1.3rem 0;
}

.popular-car-info p:first-of-type {
  font-size: 1.82rem;
}
.popular-car-info p:last-of-type {
  font-size: 1.43rem;
}

.fast-cars > div, .muscle-cars > div, .exotic-cars > div, .concept-cars > div {
  width: 950px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  gap: 1.82rem;
}

.fast-cars > div > article, .muscle-cars > div > article, .exotic-cars > div > article, .concept-cars > div > article {
  display: flex;
  background-color: white;
  color: black;
  height: 300px;
  font-family: "Cutive Mono", monospace;
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: 1fr;
}
.fast-cars > div > article img, .muscle-cars > div > article img, .exotic-cars > div > article img, .concept-cars > div > article img {
  grid-area: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.flex-col > a {
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 2.99rem;
  margin-right: 30px;
  align-self: flex-end;
  color: black;
  background: linear-gradient(180deg, silver, rgba(169, 169, 169, 0.541));
  padding: 1rem;
}

a::after {
  color: rgba(255, 0, 0, 0.052);
}

.footer-container {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  border: 1px solid white;
  border-radius: 10px 0 0 0;
  padding: 7px;
}

.footer-links {
  font-size: 0.8rem;
  list-style: none;
}
.footer-links a {
  text-decoration: none;
  color: white;
}
.footer-links a:hover {
  color: blue;
  display: inline-block;
  transform: scale(1.15);
}/*# sourceMappingURL=styles.css.map */