/* CUSTOM PROPERTIES */

/* colors */
// peach #F1BF98 accent
// poly green #3E4D2E base
// dark green #152107 dark
// lightsage #D6E0CC light
$dark: hsl(88, 65%, 8%);
$base: hsl(89, 25%, 24%);
$accent: hsl(26, 76%, 77%);
$light: hsl(90, 24%, 84%);

$ff-title: "Orbitron", sans-serif;
$ff-subtitle: "Judson", serif;
$ff-body: "Arsenal SC", sans-serif;

li {
  font-family: "Judson", serif;
}

h1 {
    font-family: $ff-title;
}

p {
    font-family: $ff-body;
}



/* RESET */

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
  margin: 0;
}

h1, 
h2,
h3,
h4 {
  font-weight: 400;
}

/* Body Set */
body {
  font-family: $ff-body;
  font-size: var(--fs-400);
  color: hsl(var(--color-light));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  line-height: 1.5;
  min-height: 100vh;
}

/* easier images */
img, picture {
  max-width: 100%;
  display: block;
}

/* form elements */
input, button, textarea, select {
  font: inherit;
}

/* remove animations for people who turned them off */
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header {
  height: 100vh;
  background: url("hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  color: white;
  letter-spacing: 0.1em;
  z-index: 1000;

  nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    backdrop-filter: blur(2px);
    text-shadow: 1px 1px 2px black;

    a {
      text-decoration: none;
    }

    .company {
      color: azure;
    }
  }
  .hero-text {
    font-size: 5rem;
    font-family: $ff-body;
    margin-top: 3.7em;
  }

  @media (max-width: 768px) {
    .hero-text {
      font-size: 3rem;
    }
  }

  .sliders {
    display: flex;
    gap: 1em;
    align-self: center;

    .dot {
        width: 1.3vh;
        height: 1.3vh;
        background-color: slateblue;
        border-radius: 50%;
        border: 1px solid white;
      }
  }
}

// blog styles
.blog {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
}


.blog-box {
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 0 10em;

  h1 {
    color: black;
    display: inline;
    font-size: 2.5rem;
    font-family: $ff-title;
    width: 5ch;
  }

  .group-link {
    display: flex;
    gap: 2em;
  }

  .link {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    color: black;
  }

  img {
    width: 650px;
  }
}

.blog-box > section:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.content {
  display: flex;
}

@media (max-width: 768px) {
  header {
    height: 90vh;
  }

  .content {
    flex-direction: column;
    gap: 2em;
  }
}

// models
.models {
  display: flex;
  flex-direction: column;
  gap: 2em;

  h2 {
    text-align: center;
    margin: 2em;
    font-size: 2rem;
  }

  .model-box {
    width: 70svw;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
  }

  .muscle {
    background: url("../images/cars/muscle_cars/challenger28.jpeg");
  }

  .exotic {
    background: url("../images/cars/exotic_cars/audiWings.jpeg");
  }

  .fast {
    background: url("../images/cars/fast_cars/ferrariPurple.jpeg");
  }

  .concept {
    background: url("../images/cars/concept_cars/2026DemiShark.jpeg");
  }

  .muscle, .exotic, .fast, .concept {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 1em;
  }
  
}