/* CUSTOM PROPERTIES */
/* colors */
li {
  font-family: "Judson", serif;
}

h1 {
  font-family: "Federo", sans-serif;
}

p {
  font-family: "Moderustic", sans-serif;
}

/* RESET */
/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

button {
  padding: 0.3em 2em;
  border-radius: 5px;
  background-color: hsl(90, 24%, 84%);
  color: hsl(88, 65%, 8%);
  transition: background-color 0.3s ease-in-out;
  font-size: 1.1rem;
}

button:hover {
  background-color: hsl(26, 76%, 77%);
}

.accent-btn {
  background-color: transparent;
  color: #fff;
}

/* Body Set */
body {
  font-family: "Moderustic", sans-serif;
  font-size: var(--fs-400);
  color: hsl(var(--color-light));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  line-height: 1.5;
  min-height: 100vh;
  background-color: #0f0f0f;
}

/* easier images */
img, picture {
  max-width: 100%;
  display: block;
}

/* form elements */
input, button, textarea, select {
  font: inherit;
}

/* remove animations for people who turned them off */
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
header {
  height: 100vh;
  background: url("hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  color: white;
  letter-spacing: 0.1em;
  z-index: 1000;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  text-shadow: 1px 1px 2px black;
}
header nav a {
  text-decoration: none;
}
header nav .company {
  color: azure;
}
header nav .logo {
  height: 100px;
  display: none;
}
header .hero-text {
  font-size: 5rem;
  font-family: "Moderustic", sans-serif;
  margin-top: 3.7em;
}
@media (max-width: 768px) {
  header nav a {
    display: none;
  }
  header nav .logo {
    display: block;
  }
  header .hero-text {
    font-size: 3rem;
  }
}
header .sliders {
  display: flex;
  gap: 1em;
  align-self: center;
}
header .sliders .dot {
  width: 1.3vh;
  height: 1.3vh;
  background-color: slateblue;
  border-radius: 50%;
  border: 1px solid white;
}

.head {
  position: relative; /* Ensure positioning for overlays if needed */
  transition: opacity 0.5s ease-in-out; /* Smooth fade */
  background-size: cover;
  height: 100vh; /* Adjust as necessary */
  width: 100%; /* Adjust as necessary */
}

.blog {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  background: #fff;
}

.blog-box {
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 0 10em;
}
.blog-box h1 {
  color: black;
  display: inline;
  font-size: 2.5rem;
  font-family: "Federo", sans-serif;
  width: 5ch;
}
.blog-box .group-link {
  display: flex;
  gap: 2em;
}
.blog-box .link {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: black;
}
.blog-box img {
  width: 650px;
}

.blog-box > section:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.content {
  display: flex;
}

@media (max-width: 768px) {
  header {
    height: 90vh;
  }
  .content {
    flex-direction: column;
    gap: 2em;
  }
}
.models {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.models h2 {
  text-align: center;
  margin: 2em;
  font-size: 2rem;
  color: hsl(90, 24%, 84%);
}
.models .model-box {
  width: 70svw;
  height: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}
.models .model-box h3 {
  font-size: 2em;
}
.models .muscle {
  background: url("../images/cars/muscle_cars/challenger28.jpeg");
}
.models .exotic {
  background: url("../images/cars/exotic_cars/audiWings.jpeg");
}
.models .fast {
  background: url("../images/cars/fast_cars/ferrariPurple.jpeg");
}
.models .concept {
  background: url("../images/cars/concept_cars/2026DemiShark.jpeg");
}
.models .muscle, .models .exotic, .models .fast, .models .concept {
  background-size: cover;
  background-position: center;
  color: white;
  padding: 1em;
}
.models .info {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.models .description {
  font-size: 1.4rem;
}/*# sourceMappingURL=styles.css.map */